.image{
    height: 175px;
    width: 280px;
}
#indexmain{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}
#pahlaimg{
    margin-top: 1%;
    height: 520px;
    width: 65%;
    margin-left: 6%;
    border: 1px solid red;
   
}
#pahlaimg >img{
    width: 99%;
    margin-left: 0.5%;
    height: 99%;
    margin-top: 0.3%;
}
#pahlaimgkebagalme{
    height: 520px;
    margin-top: 1%;
    width: 20%;
    margin-left: 2%;
    /* border: 1px solid black; */
}
#pahlaimgkebagalme_img{
    height:200px;
    margin-left: 2%;
    width: 96%;
    /* border: 1px solid teal; */
}
#pahlaimgkebagalme_img > img{
    width: 99%;
    margin-left: 0.5%;
    height: 99%;
    margin-top: 0.3%;
}
#pahlaimgkebagalme_img  > h2{
    text-align: initial;
  font-family: kepler-std, serif;
    line-height: 29px;
}
#pahlaimgkebagalme_img  >p{
    font-size: 16px;
}

/* #second{
    margin-top: 10px;
    margin-left: 20%;
    height:40px;
    width:400px;
    border: 1px solid black;
} */
/* try to append using api */
#firstappend_div{
    height: auto;
    width: 87%;
    margin-top: 1%;
    /* border: 1px solid black; */
    margin-left: 6%;
     /* display: flex;  */
}
 .firstdiv_heading{
    margin-top: 2%;
    margin-left: 6%;
    height: auto;
    width: 65%;
    /* border: 1px solid teal; */
   
} 
 .firstdiv_heading >h1{
    text-align: justify;
    font-size:42px ;
 }
.firstdiv__heading_ke_baglme{  
height:500px;
width: 23%;
margin-left: 73%;
margin-top: -10%;
/* border: 1px solid greenyellow; */
}
.firstdiv__heading_ke_baglme_img{
    height: 220px;
    width: 96%;
    margin-left: 2%;
    /* border: 1px solid red; */
}
.firstdiv__heading_ke_baglme_img > img{
    width: 100%;
    height: 100%;
}
#firstdiv__heading_ke_baglme_img_h2{
    margin-left: 2%;
    text-align: justify;
    font-style: normal;
     font-size: 23px; 
}
#firstdiv__heading_ke_baglme_img_p{
    margin-left: 2%;
    font-size: 20px;
}
.firtdiv_author{
    
    margin-top: -22%;
    margin-left: 41%;
    height: 120px;
    width: 30%;
    /* border: 1px solid orange; */
}
#firstdiv_author_h4{
    font-size: 18px;
}
.firstdiv_img{
    /* display: grid; */
    margin-top: -9%;
    height: 110px;
    margin-left: 6%;
    width:34%;
    /* border: 1px solid red; */
}
#firstdiv_img_p{
    font-size: 20px;
}
#firstdiv_last_img{
    margin-top: 2%;
    height: 320px;
    width: 65%;
    margin-left: 6%;
    /* border: 1px solid red; */
}
#firstdiv_last_img_img{
    width: 100%;
    height: 100%;
}

/* Api se data lena start */
#CRYPTO_CORNER{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* border: 1px solid green; */
    gap: 20px;
    margin-left: 6%;
}
#CRYPTO_CORNER > div{
    /* border: 1px solid blue; */
    width: 280px;
    height: 410px;
}

#CULTURE,#WORLD,#SPORT{
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left: 6%;
}
.CULTURE_AND_SOCIETY > div,.WORLDNEWS > div,.sports > div{
    width: 280px;
    height: 410px;
}
hr{
    width: 94%;
    margin-left: 6%;
    border-color: red;
    margin-top: 7px;
}

.CRYPTO_CORNER_grid h3:hover,.CULTURE_AND_SOCIETY h3:hover,
.WORLDNEWS h3:hover,.sports h3:hover{
    color: red;
} 