#container{
    height: 400px;
    width:40%;
    margin: auto;
    border: 1px solid red;
    margin-top: 10%;
}
#h2{
    color:#050505 ;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    line-height: 33px;
    font-style: normal;
    text-align: center;
   
}
#mobile,#password,#name{
    display: block;
    padding: 18px 195px;  
    margin: 20px 0px 10px;
    margin-top: 20px;
    margin-left: 4%;
  
}
#btn{
    padding: 16px 250px;
    margin-top: 20px;
    margin-left: 3%;
    background-color: #050505;
    color: white;
    font-size: 18px;
    
}
#p{
   text-align: center;
   font-family: 14px;
   color: #000000;
}
a{
    text-decoration: underline;
    color: red;
}
 button:hover{
    color: red;
}